# Ignore Mac system files
.DS_store

# Ignore R files
.Rhistory   

# Ignore folders
project_1/.ipynb_checkpoints
project_1/code/.ipynb_checkpoints
project_2/.ipynb_checkpoints
project_2/code/.ipynb_checkpoints
project_3/.ipynb_checkpoints
project_3/code/.ipynb_checkpoints
project_4/.ipynb_checkpoints
project_4/code/.ipynb_checkpoints
project_capstone/.ipynb_checkpoints
project_capstone/code/.ipynb_checkpoints
project_capstone/data
project_capstone/pickle
